<div class="dashboard" style="margin: 0px; height: 1005px;">

    <ul class="list-unstyled components dashboard-inner" style="margin: 0px">
        <li class="dashboard-block" [routerLinkActive]="'active'">
            <a class="dashboard-link" routerLink="/userposts">
                <div class="dashboard-link-text">My Cards</div>
            </a>
        </li>
        <li class="dashboard-block" [routerLinkActive]="'active'">
            <a class="dashboard-link" routerLink="/posts">
                <div class="dashboard-link-text">All Cards</div>
            </a>
        </li>
        <li class="dashboard-block" [routerLinkActive]="'active'">
            <a class="dashboard-link" routerLink="/settings">
                <div class="dashboard-link-text">Settings</div>
            </a>
        </li>
        <li class="dashboard-block" [routerLinkActive]="'active'">
            <a class="dashboard-link" routerLink="/profile">
                <div class="dashboard-link-text">Profile</div>
            </a>
        </li>
    </ul>

    <div class="dashboard-contact-info">
        <span>Customer Service</span><br>
        <span>800-851-8169</span><br>
        <span>
        <a href="mailto:support@blog.com" style="color:#233C4F; font-size: 11px">support&#64;blog.com</a>
      </span>
    </div>

    <div class="dashboard-footer">
        <div>No portion of this website or the material contained on it may be reproduced in any form or by any person without prior written permission from blog.</div><br>
        <div>Copyright © Blog, Inc. All Rights Reserved.</div>
    </div>

    <div style="background-color: #fff;">
        <br>
        <br>
        <br>
    </div>
</div>
