<div [ngClass]="{'focused-card' : isSelected, 'unfocused-card': !isSelected}" class="card-block">

    <span class="card-update-btn"><i class="fa fa-edit" (click)="switchEditStatus()"></i></span>
    <span class="card-update-btn card-delete-btn"><i class="fa fa-trash" (click)="removePost(id)"></i></span>

    <mat-card class="example-card" *ngIf="!isEditable">
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{content}}
        </mat-card-content>
        <mat-card-actions>
            <button class="btn btn-light">LIKE</button>
            <button class="btn btn-light">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" *ngIf="isEditable">

        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control edit-card-input" [(ngModel)]="title" />
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control edit-card-input" [(ngModel)]="content" />
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary edit-card-btn" (click)="editPost(id)">Edit Post</button>
            </div>
        </div>

    </mat-card>
</div>