<div class="account-header">
    <img class="account-header-logo" src="">
</div>

<div class="account-login-bg">
    <img class="account-bg" src="assets/img/blogs-bg.png">
    <div class="account-login-form">
        <div class="tab-header">
            <h2 routerLink='/account/login' routerLinkActive='active'>Sign In</h2>
            <h2 routerLink='/account/registration' routerLinkActive='active'>Sign Up</h2>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<div class="account-footer">
    <div><b>Customer Service</b></div>
    <div>1-800-735-8169</div>
    <div>
        <a style="color: #9e9e9e;text-decoration: underline;" href="mailto:support@blogs.com">support&#64;blogs.com</a>
    </div>
    <div>No portion of this website or the material contained on it may be reproduced in any form or by any person without prior written permission from Blogs.com.</div>
    <div>Copyright © Blogs, Inc. All Rights Reserved.</div>
</div>
